In [ ]:
my_tup = (5,8,4,'simpli','learn',True)

In [ ]:
my_tup[1]

8

1. Extract "8" in `my_tup`

In [ ]:

my_tup[1]

8

2. Extract "4" in `my_tup`

In [ ]:
my_tup[4]

'learn'

3. Extract 1st three values in `my_tup`

In [ ]:
# code here
my_tup[0:3]

(5, 8, 4)

4. Extract last three values in `my_tup`

In [ ]:
# code here
my_tup[-3:6]

('simpli', 'learn', True)

5. Extract alternate values starting with `5`

In [ ]:
my_tup[::2]

(5, 4, 'learn')

In [ ]:
my_tup[::2]

(5, 4, 'learn')

6. Print the data type of 2nd element in `my_tup`

In [ ]:
# code here
a=5
b=8
c=4
d=('simpli')
e=("learn")
f=("true")

In [ ]:
who

a	 b	 c	 d	 e	 f	 my_tup

In [ ]:
type(b)

int

7. Print the data type of last elment in `my_tup`

In [ ]:
# code here
type(f)

str

8. Add 4th and 5th element in `my_tup`

In [ ]:
# code here
e+f

'learntrue'

9. Multiply the output of 8 question with 1st element

In [ ]:
# code here
b*a

40

10. Print all the values in `my_tup` in reverse order

In [ ]:
# code here
my_tup[::-1]

(True, 'learn', 'simpli', 4, 8, 5)

---
srikanth dakoju