In [2]:
my_tup = (5,8,4,'simpli','learn',True)

In [3]:
my_tup[1]

8

1. Extract "8" in `my_tup`

In [4]:

my_tup[1]

8

2. Extract "4" in `my_tup`

In [5]:
my_tup[2]

4

3. Extract 1st three values in `my_tup`

In [6]:

print(my_tup[0:3])

(5, 8, 4)

In [ ]:
# code here
my_tup[0:3]

(5, 8, 4)

4. Extract last three values in `my_tup`

In [8]:
print(my_tup[0:3])

(5, 8, 4)

In [ ]:
# code here
my_tup[-3:6]

('simpli', 'learn', True)

5. Extract alternate values starting with `5`

In [ ]:
print(my_tup[:3])
print(my_tup[0:3])

In [ ]:
my_tup[::2]

(5, 4, 'learn')

In [11]:
my_tup[::2]

(5, 4, 'learn')

6. Print the data type of 2nd element in `my_tup`

In [15]:
# code here
a=5
b=8
c=4
d=('simpli')
e=("learn")
f=("true")
print('The second  element is',my_tup[1])
print('the data type is',type(my_tup[1]))

The second  element is 8
the data type is <class 'int'>

In [18]:
print('The second element is',my_tup[1])
print('The second element is',my_tup[2])

The second element is 8
The second element is 4

In [19]:
print('The data type is',type(my_tup[1]))

The data type is <class 'int'>

In [22]:
print('The data type is',type(my_tup[4]))

The data type is <class 'str'>

In [23]:
who

a	 b	 c	 d	 e	 f	 my_tup	 start

In [ ]:
type(b)

int

7. Print the data type of last elment in `my_tup`

In [ ]:
# code here
type(f)

str

8. Add 4th and 5th element in `my_tup`

In [33]:
# code here
print(my_tup[3]+my_tup[4])

simplilearn

In [29]:
print(my_tup[0]+my_tup[1])

13

9. Multiply the output of 8 question with 1st element

In [37]:
# code here
element = my_tup[3]+my_tup[4]
print(element*my_tup[0])

simplilearnsimplilearnsimplilearnsimplilearnsimplilearn

10. Print all the values in `my_tup` in reverse order

In [38]:
# code here
my_tup[::-1]

(True, 'learn', 'simpli', 4, 8, 5)

---
srikanth dakoju